{% extends "base.html" %}

{% block content %}

<center>

  <h1>что наверху, бабушка?</h1>

  <br><br><br><br>

  <canvas id="drawbushka" width="500" height="500" style="border:1px solid #000000;">
    Your browser does not support html5 canvas tags. Please get a real browser.
  </canvas>
  
  <table id="colorPicker">
    <tr>
      <td clr="#000000" style="color:white;background-color:#000000">BLACK<br>#000000</td>
      <td clr="#fe2712" style="color:white;background-color:#fe2712"><strong>RED</strong><br>#FE2712</td>
      <td clr="#fc600a" style="color:white;background-color:#fc600a">R-O<br>#FC600A</td>
      <td clr="#fb9902" style="background-color:#fb9902">ORANGE<br>#FB9902</td>
      <td clr="#fccc1a" style="background-color:#fccc1a">Y-O<br>#FCCC1A</td>
      <td clr="#fefe33" style="background-color:#fefe33"><strong>YELLOW</strong><br>#FEFE33</td>
      <td clr="#9acd32" style="background-color:#9acd32">Y-G<br>#B2D732</td>
    </tr>
    <tr>
      <td clr="#ffffff" style="background-color:#ffffff">ERASE<br>#FFFFFF</td>
      <td clr="#66b032" style="color:white;background-color:#66b032">GREEN<br>#66B032</td>
      <td clr="#347c98" style="color:white;background-color:#347c98">B-G<br>#347C98</td>
      <td clr="#0247fe" style="color:white;background-color:#0247fe"><strong>BLUE</strong><br>#0247FE</td>
      <td clr="#4424d6" style="color:white;background-color:#4424d6">B-P<br>#4424D6</td>
      <td clr="#8601af" style="color:white;background-color:#8601af">PURPLE<br>#8601AF</td>
      <td clr="#c21460" style="color:white;background-color:#c21460">R-P<br>#C21460</td>
    </tr>
  </table>

</center>

<script src="static/js/draw.js"></script>

{% endblock content %}
